{% extends "master.html" %}

  {% load static %}
  {% load crispy_forms_tags %}
  {% block content %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">no.</th>
          <th scope="col">employeeId</th>
          <th scope="col">firstname</th>
          <th scope="col">others</th>
          <th scope="col">gender</th>
          <th scope="col">DOB</th>
          <th scope="col">email</th>
          <th scope="col">address</th>
          <th scope="col">contact</th>
          <th scope="col">position</th>
          <th scope="col">maritalstatus</th>
          <th scope="col">departmentname</th>
          <th scope="col">religion</th>
          <th scope="col">salary</th>
        </tr>
      </thead>
      <tbody>
        
        {% for Employee in list %}
          <tr>
            <th scope="row">{{Employee.id}}</th>
            <td>{{Employee.employeeId}}</td>
            <td>{{Employee.firstname}}</td>
            <td>{{Employee.others}}</td>
            <td>{{Employee.gender}}</td>
            <td>{{Employee.DOB}}</td>
            <td>{{Employee.email}}</td>
            <td>{{Employee.address}}</td>
            <td>{{Employee.contact}}</td>
            <td>{{Employee.position}}</td>
            <td>{{Employee.maritalstatus}}</td>
            <td>{{Employee.departmentname}}</td>
            <td>{{Employee.religion}}</td>
            <td>{{Employee.salary}}</td>
          </tr>
          <td>
            <a href="{% url 'EditEmployeePage' Employee.id %}">Edit</a>
            <a href="{% url 'DeleteEmployeePage' Employee.id %}"onclick='return confirm("Are you sure you intend to delete")'>Delete</a>
          </td>
        {% endfor %}
        </tbody>
      </table>
      
      {% endblock content %}
